html {
    height:100%;
}

body {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height:100%;
    width:100%;

    font-family: 'Roboto', sans-serif;
    font-size:1em;

    margin:0;

    background-color:rgb(150,150,150);
}

input[type=text] {
    background-color:rgb(240,240,240);
    color:rgb(10,10,10);
}

textarea {
    background-color:rgb(240,240,240);
    color:rgb(10,10,10);
}

a {
    color:rgb(50,50,50);
    transition:text-shadow .2s;
}

a:hover {
    text-shadow:0 0 .3em rgb(220,220,220);
}

a:visited {
    color:rgb(105,35,35);
}

#docs-space {
    position:fixed;
    width:100%;
    height:100%;

    background-color:rgba(0,0,0,.5);

    opacity:0;
    z-index:-1;
    transition:opacity .5s;
}

.docs-page {
    margin-right:auto;
    margin-left:auto;
    padding:none;

    width:45%;
    left:27.5%;

    border-radius:.5em;

    background-color:rgb(240,240,240);    
    color:rgb(20,20,20);

    transition:opacity .3s, padding .3s,padding-left .3s, margin-top .3s,height .3s,max-height .3s;
}

.hidden-docs-page {
    opacity:0;
    height:0;
    z-index:-1;
}

.active-docs-page {
    margin-top:1%;
    padding:.3em;
    padding-left:1em;

    opacity:1;
    min-height:100%;
    z-index:2;
}

#container {
    position: relative;
    top:0;
    margin-top:0px;

    margin-right:25%;
    margin-left:25%;

    min-width:50%;
    min-height:100%;

    background-color:rgb(180,180,180);
    
    box-shadow:0em 0em 3em 0em rgb(80,80,80);

    text-align:center;
    color:rgb(80,80,80);
}

#container #bar-top {
    position:relative;
    min-height:2em;

    background-color:rgb(200,200,200);
    border-bottom:.15em solid rgb(150,150,150);
}

#container #bar-top button {    
    display:inline;
    float:left;

    max-width:50%;
    
    padding:.2em;
    padding-top:.5em;
    padding-bottom:0;

    background-color:rgba(0,0,0,0);

    text-align:left;
    font-weight:bold;
    font-size:.9em;
    color:rgb(80,80,80);

    border-radius:0;
    border:none;

    margin:auto;
    margin-left:.5em;

    text-shadow:0 0 rgba(0,0,0,.5);

    transition:text-shadow .1s,color .2s,font-size .1s;
}

#container #bar-top button:hover {
     text-shadow:0 0 .75em black;
     color:rgb(245,245,245);
}

#container #machine-container {
    position:relative;

    background-color:rgb(200,200,200);
    min-height:100%;
}

#container #footer {
    position:relative;
    max-height:5%;
    padding:1em;
}

#container h1 {
    margin:auto;
    padding-top:.5em;
}

#container label {
    display:inline-block;
}

#container input[type=text] {
    display:inline-block;

    max-width:90%;
    
    margin:auto;
    margin-bottom:1em;
    margin-left:.4em;

    border:none;
    padding:.5em;

    border-style:ridge;
    border-radius:.4em;
    border-width:.1em;
}

#container textarea {
    display:block;
    margin:auto;

    border:none;
    padding:.5em;

    max-width:90%;

    border-style:ridge;
    border-radius:.4em;
    border-width:.1em;
    
    margin-top:1%;
}

#container button {
    display:inline-block;

    max-width:90%;
    
    padding:2em;
    padding-top:1em;
    padding-bottom:1em;

    font-weight:400;

    background-color:rgb(240,240,240);
    color:rgb(20,20,20);

    border-radius:1em;
    border-style:solid;
    border-color:rgb(15,15,15);
    border-width:.15em;

    margin:auto;
    margin-top:.5em;
    margin-bottom:1em;
    margin-left:.4em;

    transition:background-color .15s, color .15s, text-shadow .25s;
}

#container button:hover {
    background-color:rgb(100,100,100);
    text-shadow:0 0 .75em rgb(100,100,100);
    color:rgb(245,245,245);
}

#container #define-form {
    margin:auto;
    padding-top:3em;
}

#container #advanced-space {
    display:block;
    position:relative;
    margin:auto;

    min-height:20em;
    max-width:90%;
}

#container #share-space {
    display:block;
    position:relative;

    padding-bottom:1.5em;
    padding-top:.5em;
    
    opacity:0;

    transition:opacity .25s, height .25s;
}

#container #options-space {
    display:block;
    position:relative;

    margin:auto;

    opacity:0;

    transition:opacity .25s, height .25s;
}