body {
    background-color:rgb(150,150,150);
}

.background-borders {
    min-height: 100vh;

    z-index:1;

    background-color:rgb(150,150,150);
}

.central-container {
    min-height: 100vh;

    z-index:2;

    background-color:rgb(180,180,180);
    box-shadow:0 0 3vw 1.5vw rgb(80,80,80);
}